__pycache__/
*.py[cod]
.venv/
.env
work/models/*
!work/models/.gitkeep
work/datasets/*
!work/datasets/.gitkeep
work/outputs/*
!work/outputs/.gitkeep
work/logs/*
!work/logs/.gitkeep
work/runs/*
!work/runs/.gitkeep
work/archives/*
!work/archives/.gitkeep
*.safetensors
*.ckpt
*.pt
*.pth
